{
	admin :2019
}

dev.osu-tournament-manager.app {
  @appWebSockets {
		path /api/websockets/*
		header Connection *Upgrade*
		header Upgrade websocket
	}

	@viteWebSockets {
		path /@vite/*
		header Connection *Upgrade*
		header Upgrade websocket
	}

	encode gzip

	handle @appWebSockets {
		uri strip_prefix /api
		reverse_proxy server:{$SERVER_PORT_TARGET}
	}

  handle /api/* {
    reverse_proxy server:{$SERVER_PORT_TARGET}
  }

	handle @viteWebSockets {
		uri strip_prefix /api
		reverse_proxy client:{$CLIENT_PORT_TARGET}
	}

	header -Server
	header -Via

  reverse_proxy client:{$CLIENT_PORT_TARGET}
	tls internal
}
