{
  "extends": [
    "../../.eslintrc",
    "@vue/eslint-config-prettier/skip-formatting",
    "@vue/eslint-config-typescript",
    "plugin:@tanstack/query/recommended",
    "plugin:vue/vue3-essential"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  }
}
