@import 'tailwindcss';

@theme {
  --color-primary-1: #FAFAFA;
  --color-primary-2: #A1A1AA;
  --color-primary-3: #27272A;
  --color-primary-4: #0A0A0B;
}

* {
  @apply box-border;
}

html {
  font-family: 'Geist Sans', sans-serif;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  @apply m-0 h-full p-0;
  @apply bg-primary-4 text-primary-1;
}
