@import 'tailwindcss';

@theme {
  --color-primary-1: #fafafa;
  --color-primary-2: #a1a1aa;
  --color-primary-3: #27272a;
  --color-primary-4: #0a0a0b;
}

* {
  @apply box-border;
}

html {
  font-family: 'Geist Sans', sans-serif;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  @apply m-0 h-full p-0;
  @apply bg-primary-4 text-primary-1;
}
